{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

	<div class="d-flex flex-column justify-content-center align-items-center">
		<img class="img-fluid profile-pic w-33 "
		{% if (user.picture is not empty) %}
	        src="{{asset('upload/usersPics/' ~ user.picture)}}">
	    {% else %}
	        src="{{asset('asset/images/picto.png')}}" height="40">
	    {% endif %}

	</div>
	<h1 class="big-title mb-5">
		<b>{{user.username}}</b>
	</h1> 
	
	{% if (is_granted('ROLE_USER') and (user.id) != (connectedUser)) %}
	<form>
    	<a class="w-25 user-btn" href="{{ path('app_contact_new', { id : user.id })}}">envoyer une demande de contact</a>
	</form>

	{% endif %}

	<h2 class="userTitle mt-5 mb-5">
		Bienvenue sur ma bio
	</h2>
 
	<div class="my-bio flex-row w-auto p-3 align-self-center">
		{{ user.summary }}
	</div>

	<div class="my-collections">
		<div class="d-flex justify-content-between mb-5 mt-5">
			<h2 class=" userTitle ">
				les collections de {{user.username}}
			</h2>
		</div>
    
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex" >

			{% for album in user.albums|slice(0, 6) %}
					<div class="col">
						<div class="hovering w-auto">
							<img class="img-fluid pic w-auto" {% if (album.poster is not empty) %} src="{{asset('upload/pictures/' ~ album.poster)}}" height="40">

						{% else %}
							src="{{asset('asset/images/logo.png')}}" height="40">
						{% endif %}
						<a href="{{ path('app_album_show', {'id': album.id}) }}">
							<button type="button" class="btn profilebtn">
								Voir la collection
							</button>
						</a>
					</div>

					<a class="link-dark" href="{{ path('app_album_show', {'id': album.id}) }}">
						<h5 class="card-title fw-bold mt-2 text-decoration-underline text-sm-center">
							{{ album.title}}
						</h5>
					</a>
					<p class="card-text fw-medium mt-2 fs-6 d-flex  justify-content-sm-center text-sm-center mb-4">
						{{ album.description}}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class ="gallery-button d-flex flex-row justify-content-center"> 
		<button class="w-25 mt-5 btn-danger btn-primary user-btn flex-row w-auto"> 
			Afficher/Masquer la vitrine 
		</button>
	</div>

	<div class="gallery d-none">
	    <div class="gallery-container">
	        {% for key, collectible in favorisList %}
			    {% set key = key + 1 %}
			    	<img class="gallery-item gallery-item-{{ key }}"

			    {% if collectible.picture is not empty %}
			        src="{{ asset('upload/pictures/' ~ collectible.picture) }}">
			    {% else %}
			        src="{{ asset('asset/images/logo.png') }}">
			    {% endif %}

			    {% endfor %}
		</div>
		<div class="gallery-controls"></div>
	</div>

  

{% endblock %}

